/* Global reset for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Defining custom CSS variables for reuse */
:root {
    --bg: ;
    --font-color: #794919;
    --bg-dark: hsla(158, 51%, 10%, 0.44);
}

/* Styles for the overall page */
body {
    background-color: #00a984;
}

/* Main content area */
main {
    color: var(--font-color);
}

/* Styles for the first section */
.sec-1 {
    background-color: var(--bg-dark);

    & h1 {
        padding: .5em;
    }

}

/* Styles for the second section */
.sec-2 {
    display: flex;
    flex-flow: row wrap;
    overflow-x: hidden;
}

/* Styles for the coffee display area */
.coffee-display {
    margin: .5em;
    flex-basis: 40%;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    align-content: start;
    min-width: 450px;
    max-width: 100%;

    /* Styles for individual coffee items */

    .coffee {
        min-width: 200px;
        flex-basis: 40%;
        flex-grow: 1;
        flex-shrink: 1;
        margin: .2em .2em;
        display: flex;
        flex-flow: row;
        align-items: end;
        padding: .2em 0;
        & h2 {
            margin: 0;
            padding: 0;
        }

        & p {

        ;
            color: rgba(105, 62, 21, 0.65);
            margin: 0;
            padding: 0;
        }


    }

}

/* Styles for the search and add section */
.search-add {
    min-width: 350px;
    flex-basis: 40%;
    flex-grow: 1;
    order: -1;
    display: flex;
    flex-flow: row wrap;
    height: max-content;

    & h2 {
        text-align: center;

    }

    & label {
        font-weight: 700;
    }

    & input, & select{
        background-color: var(--bg-dark);
        border: none;
        color: var(--font-color);
        font-size: 1.2rem;

        &:focus {
            background-color: var(--bg-dark);
            color: var(--font-color);
        }
    }

    .form-add, .form-search {
        min-width: 200px;
        flex-grow: 1;
        margin:.5em;
    }

    & button {
        color: var(--font-color);
        background-color: var(--bg-dark);
        border: none;
        padding: .5em;
        border-radius: .5em;
        font-size: 1.2rem;

        &:hover {
            background-color: rgba(255, 255, 255, 0.36);
        }
    }


}

/* Media query for larger screens */
@media screen and (min-width: 407px) {
    .coffee-display{
        flex-flow:row wrap;
    }
}


@media screen and (min-width: 816px) {
    .search-add {
        order: 0;
        flex-direction: column;
    }
}